<div class="container py-5" style="font-size: 16px; color: #3d2105;">
  <div class="header-section">
    <div class="header d-flex justify-content-between align-items-center mb-4">
   <a href="/" style="color: #3d2105; text-decoration: none;">
      <img src="assets/logo.png" alt="Logo" class="logo">
    </a>
    <div ngbDropdown class="d-inline-block category-dropdown" #categoryDropdown="ngbDropdown" ngbDropdownTrigger="manual">
      <button class="btn btn-outline-primary" id="categoryDropdown" ngbDropdownToggle ngbDropdownAnchor>{{category || 'Category'}}</button>
      <div ngbDropdownMenu aria-labelledby="categoryDropdown">
        <button class="dropdown-item" (click)="setCategory('')">All</button>
        <button class="dropdown-item" (click)="setCategory('Jewelry')">Jewelry</button>
        <button class="dropdown-item" (click)="setCategory('Timepiece')">Timepiece</button>
        <button class="dropdown-item" (click)="setCategory('Games')">Games</button>
      </div>
    </div>
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchTerm$.next(searchTerm)" placeholder="Search" class="form-control search-input">
    <div class="cart-button" (mouseenter)="hoverCart = true" (mouseleave)="hoverCart = false">
      <img src="assets/cart_im.png" alt="Cart" class="cart-image">
      <div class="cart-dropdown" *ngIf="hoverCart">
        <button *ngIf="!idToken" class="btn btn-primary" (click)="openDialog(AuthDialogState.SignIn)">Sign In</button>
        <button *ngIf="idToken" class="btn btn-primary" (click)="openCartDialog()">View my Cart</button>
      </div>
    </div>
    <button *ngIf="!idToken" class="btn btn-primary auth-button" (click)="openDialog(AuthDialogState.SignUp)">Sign Up</button>
    <button *ngIf="!idToken" class="btn btn-primary auth-button" (click)="openDialog(AuthDialogState.SignIn)">Sign In</button>
    <button *ngIf="idToken" class="btn btn-primary auth-button" (click)="signOut()">Sign Out</button>
    <div ngbDropdown class="d-inline-block profile-dropdown" *ngIf="idToken">
      <button class="btn btn-outline-primary auth-button" id="dropdownMenuButton" ngbDropdownToggle>My Profile</button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" *ngIf="authService.isAdmin$ | async" (click)="openAddProductDialog()">Add Product</button>
          <button class="dropdown-item" (click)="openOrdersDialog()">My Orders</button>
          <button class="dropdown-item text-danger" (click)="openDialog(AuthDialogState.DeleteAccount)">Delete my account</button>
      </div>
  </div>
  </div>
  <div class="sort-buttons-wrapper">
    <div class="sort-buttons d-flex justify-content-end mb-3">
      <div>
        <span>Sort By:</span>
        <div ngbDropdown class="d-inline-block" #sortByDropdown="ngbDropdown" ngbDropdownTrigger="manual">
          <button class="btn btn-outline-primary" id="sortByDropdown" ngbDropdownToggle ngbDropdownAnchor>{{sortBy || 'None'}}</button>
          <div ngbDropdownMenu aria-labelledby="sortByDropdown">
            <button class="dropdown-item" (click)="setSortBy('None')">None</button>
            <button class="dropdown-item" (click)="setSortBy('Price')">Price</button>
            <button class="dropdown-item" (click)="setSortBy('AverageRating')">Average Rating</button>
          </div>
        </div>
      </div>
      <div>
        <span>Sort Order:</span>
        <div ngbDropdown class="d-inline-block" #sortOrderDropdown="ngbDropdown" ngbDropdownTrigger="manual">
          <button class="btn btn-outline-primary" id="sortOrderDropdown" ngbDropdownToggle ngbDropdownAnchor [disabled]="sortBy === 'None'">{{sortOrder || 'Sort Order'}}</button>
          <div ngbDropdownMenu aria-labelledby="sortOrderDropdown">
            <button class="dropdown-item" (click)="setSortOrder('ASC')">ASC</button>
            <button class="dropdown-item" (click)="setSortOrder('DSC')">DSC</button>
          </div>
        </div>
      </div>
      <div>
        <span>Architecture:</span>
        <div ngbDropdown class="d-inline-block" #architectureDropdown="ngbDropdown" ngbDropdownTrigger="manual">
          <button class="btn btn-outline-primary" id="architectureDropdown" ngbDropdownToggle ngbDropdownAnchor>{{architecture || 'Serverless'}}</button>
          <div ngbDropdownMenu aria-labelledby="architectureDropdown">
            <button class="dropdown-item" (click)="setArchitecture('Serverless')">Serverless</button>
            <button class="dropdown-item" (click)="setArchitecture('Microservice')">Microservice</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-section">
  <div class="product-list">
    <app-product-list-component [searchTerm]="searchTerm" [category]="category" [sortBy]="sortBy" [sortOrder]="sortOrder"></app-product-list-component>
  </div>
  <div class="footer py-4" style="background-color: #3d2105; color: #f8f9fa;">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Mobile Number: +3869721142</p>
          <p>Email Address: <a href="mailto:mb8696@student.uni-lj.si">mb8696@student.uni-lj.si</a></p>
        </div>
        <div class="col-md-4">
          <h5>Address</h5>
          <p>Dunajska cesta 112</p>
        </div>
        <div class="col-md-4">
          <a href="#">Privacy Policy</a><br>
          <a href="#">Terms & Conditions</a><br>
          <a href="#">FAQs</a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2023 Lesa Ljubljana. All rights reserved.</p>
        </div>
      </div>
    </div>
</div>
</div>
